@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f5f9;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-area, #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
